In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.cm as cm
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
registration_df = pd.read_csv("Registration_data.csv")
registration_df.shape

(953, 13)

In [3]:
registration_df.tail()

,Attendee Name,Status,Ticket_Name,Order_Id,Transaction Status,Registration Time,Gender,Designation,Organization,Pincode/Zipcode/Postcode,"Total Experience in AI, ML, DS",From where did you hear about our event?,Total Experience
948,Seema Puranik,SUCCESS,Industry and General,1.746620e+17,SUCCESS,08-03-2021 13:52,Female,Software Engineer,HCL,411057,0 > and < 1 year,SOCIAL MEDIA WIDS PUNE,3 years > and < 5 years
949,ANSHUMAN PANDEY,SUCCESS,Industry and General,3.036220e+17,SUCCESS,08-03-2021 14:48,Male,Tech Lead,SHL,122001,3 years > and < 5 years,WORD OF MOUTH,3 years > and < 5 years
950,Ganesh,SUCCESS,Industry and General,4.762720e+17,SUCCESS,08-03-2021 15:39,Male,Cloud Consultant,Rapid Circle Pune,411045,0 > and < 1 year,WORD OF MOUTH,3 years > and < 5 years
951,SushmaGoel,SUCCESS,Students and Post Doctorates,4.043120e+17,SUCCESS,08-03-2021 16:59,Female,Student,IT,411014,0 > and < 1 year,WIMLDS PUNE - MEETUP,3 years > and < 5 years
952,ANUPOJU NAVEEN,SUCCESS,Students and Post Doctorates,7.524420e+17,SUCCESS,08-03-2021 17:46,Male,Student,IIT Kharagpur,535001,0 > and < 1 year,From my Employer,0 > and < 1 year

In [4]:
registration_df.dtypes

Attendee Name                                object
Status                                       object
Ticket_Name                                  object
Order_Id                                    float64
Transaction Status                           object
Registration Time                            object
Gender                                       object
Designation                                  object
Organization                                 object
Pincode/Zipcode/Postcode                      int64
Total Experience in AI, ML, DS               object
From where did you hear about our event?     object
Total Experience                             object
dtype: object

In [5]:
registration_df['Organization'].unique()

array(['Bean Architect', 'Cummins College of Engineering for Women',
       'Prashanti Cancer Care Mission', 'C-DAC', 'Thoughtworks', 'INSAID',
       'Coupa', 'Atos Syntel', 'Symbiosis Institute of Geoinformatics',
       'Self employed', 'Zensar Technologies',
       'Finolex Academy of Management and Technology', 'MITWPU, Pune',
       'Fergusson College', 'Not known', 'Infogen Labs Pvt. Ltd.',
       'Christ University', 'Saama Technologies', 'Pune University',
       'University', 'IISER PUNE',
       'Cummins College of Engineering for Women, Nagpur', 'PubMatic',
       'Emcure Pharmaceuticals Limited', 'Fujitsu',
       'Pune Institute of Computer Technology',
       'WellsFargo India Pvt Ltd', 'AppZen', 'IIMA', 'Private',
       'Edu Pristine', 'Slb', 'SIBM, pune', 'MKSSSAIT', 'Maersk',
       'IIIT Bangalore (Student)', 'HSBC  Technology India', 'SIU',
       'softtech', 'Cognizant Technology Solutions Pvt. Ltd.',
       "MKSSS'S Cummins College of Engineering for Women, Pune",
       'Citibank', 'Jio platforms Ltd.', 'BSNL', 'American Express',
       'Deutsch Bank', 'SPPU', 'Cybage', 'ThoughtClan Techologies',
       'Sdbi', 'Vodafone', 'Wise', 'Red nucleus',
       'John Deere India Pvt ltd', 'Qatar Airways', 'Cotiviti',
       'Bajaj Finance Ltd', 'DeepIntent',
       'Siemens Digital Industry Software', 'Deloitte', 'Kpit', 'Radisys',
       'Emerson Export Engineering Centre',
       "MKSSS's Cummins College of Engineering for Women",
       'Sinhgad College of Engineering', 'The EmergeTech Foundation',
       'Credit Suisse', 'Union Bank of Switzerland', 'Amravati',
       'Metamagics', 'JSPM BSIOTR', 'Accenture',
       'SRI SARADA COLLEGE FOR WOMEN,SALEM-16', 'TomTom',
       'University of Pune', 'HQL Solutions', 'Persistent Systems Ltd',
       'MES ABASAHEB GARWARE COLLEGE',
       'Government College of engineering and research awasari pune',
       'College of Engineering, Pune', 'COEP', 'MGM CET NANDED',
       'Giftkarting', 'Gcoeara', 'GCOEARA', 'Sree Vidyanikethan', 'UPC',
       'Capgemini', 'Faurecia', 'Johnson Controls',
       "GES's R H Sapat College of Engineering, Management Studies and Research, Nashik",
       'Eaton Technology', 'R. H. Sapat College of Engineering, Nashik',
       'IIT Ropar', 'Savitribai Phule Pune University', 'Cummins',
       'Sir Visvesvaraya Institute of Technology,Chincholi,Nashik',
       'Rapid Circle Pune', 'Tata Consultancy Services', 'MMCOE',
       'Hackerpacker Hostel', 'Securly Software India Pvt. Ltd', 'NIFT',
       'Freelance', 'IIM LUCKNOW', 'BUTEZA', 'NMIMS, Mumbai',
       'Centre of holistic health development and Research', 'ISB',
       'Icertis', 'IBM', 'Trinity Engineers Pvt. Ltd.', 'SLK', 'CS',
       'Symbiosis Institute of Technology', 'Bizamica Software Pvt. Ltd.',
       'Fulcrum', 'Asset Analytix Inc.', 'Mediaocean', 'Technoscripts',
       'vCreaTek', 'MSMEx', 'Yardi', 'Wipro', 'Seclore', 'Prism IT',
       'Helficare Pvt Ltd', 'ITREB', 'BlueConch Technologies',
       'aiindia.ai',
       'Dept of Technology, Savitribai Phule Pune University',
       'Microsoft', 'Appzen', 'IIT Madras',
       'Bharati Vidyapeeth college of fine arts, Pune',
       'Modern College Of Engineering',
       'Marathwada Mitra Mandal College of Pharmacy',
       'Robolab Technologies Pvt. Ltd.', 'Zee 5',
       'Dr D. Y. Patil institute of engineering management and research',
       'Placement & Corporate Relations Cell, SPPU, Pune',
       'S.P.Pune University', 'Optum',
       'National Institute of Technology Hamirpur', 'MainlyAi',
       'Dr. Vishwanath Karad MIT-World Peace University, Pune',
       'Computer engineering', 'Bajaj Auto Ltd', 'Web developer',
       'Bharati vidyapeeth college of engineering, Pune', 'MNT', 'SKNCOE',
       'Infosys Limited', 'Whirlpool Corporation',
       'Allstate Solutions Pvt. Ltd.', 'Marsh and McLennan',
       'Yash technology Pvt Ltd', 'Bhilai institute of technology',
       'figmd India pvt.ltd', 'Bristlecone',
       'Veritas Technologies LLC Pune', 'University DCU',
       'Birlasoft  Ltd.', 'SITS, Narhe Pune',
       'G H Raisoni Institute of Engineering and Technology, Pune',
       'Department of Statistics , Savitribai Phule Pune University,  Pune',
       'Department of Statistics', 'DataScienceLab',
       'Bharati Vidyapeeth College of Engineering for Women, Pune',
       'Red Hat Inc.', 'University of Mumbai',
       'PDEA, college of engineering', 'Zenworks Solutions',
       'M.H. Saboo Siddik college of engineering', 'OBM', 'FLEX', 'DSL',
       'L&T Infotech', 'M.H. Saboo Siddik College Of Engineering',
       'M.H. Saboo Siddik College Of Engineering / B.Tech CSE', 'VMware',
       "PES'S Modern College of Engineering, Pune", 'BVCOEW',
       'S V Patel college of computer science', 'Bruviti',
       'Modern College of Arts , Science and Commerce , Shivajinagar',
       'CyberCore', 'COLLEGE PICT, TAKING PART AS INDIVIDUAL THOUGH',
       'University of North Carolina Charlotte', 'shivaji university',
       'Jaihind college of engineering , Kuran', 'MIT SOE',
       'AISSMS IOIT, Pune',
       'Department of technology shivaji university, kolhapur',
       'Freelancer', 'Shivaji University', 'SCOE',
       'Randstad offshore services', 'Weagile Software Solutions Pvt Ltd',
       "ATS's Sanjay Bhokare Group Of Institute,Miraj",
       "Dr. D.Y. Patil Women's Arts, Commerce and Science  college, Pimpri",
       'Scriptlanes',
       'Jawaharlal Darda Institute of Engineering and Technology Yavatmal',
       'Innologix Consulting Pvt Ltd',
       'Acropolis Institute of Technology and Research',
       'Symbiosis institute of computer studies and research', 'SICSR',
       'M J College Jalgaon', 'SCSIT DAVV INDORE',
       'K.J Somaiya College of Engineering',
       'Maharashtra Institute of Technology, Pune',
       'Vishwakarma Institute of Information Techology',
       'SRGP Gujarati Professional Institute', 'KJSCE',
       'Mahatma Gandhi Antarrashtriya Hindi Vishwavidyalaya,Wardha,Maharashtra',
       'Kjsce', 'Manipal University Jaipur',
       'Dr. v.D. Karad MIT World Peace University', 'Mumbai University',
       'IDFC First Bank', 'ICUnet Consulting India Pvt. Ltd.', 'PLLP',
       'UBS', "Aissms's Institute of Information Technology, Pune",
       "JSPM's Rajarshi shahu college of Engineering", 'InventOnUs',
       'MESCOE', 'IISER Berhampur, Odisha',
       'Thadomal Shahani Engineering College',
       'Principal Global Services',
       'Shri Sant Gajanan Maharaj College Of Engineering,Shegaon',
       'MIT Polytechnic Pune', 'Harbinger',
       'PICT CSI STUDENT BRANCH, PICT PUNE.', 'vow', 'NVIDIA Corporation',
       "SCTR'S Pune Institute of Computer Technology", 'CDK Global',
       'Modern College Pune', 'Oracle',
       'Indian Institute of science education and research, Berhampur',
       'Sciffer Analytics Pvt Ltd', 'EyeQ', 'Information technology',
       'Quest Global', 'IDC Technologies', 'BIT, Mesra, Ranchi',
       'electronics and ice academy, IIT Guwahati',
       'Terna Engineering College, Nerul',
       'International Institute of Information Technology',
       'ThoughtWorks', 'One Smarter Inc.,USA', 'Square One Insights',
       'Digizen Consulting', 'sppu', 'University of delhi', 'CCoEW, Pune',
       'Fractal Analytics', 'P.A.H Solapur University',
       'Symbiosis Centre for Management Studies, Nagpur', 'Intern',
       'keito tech pvt ltd', 'CTCR', 'Maya CARE Foundation',
       'NBN SINHGAD SCHOOL OF ENGINEERING PUNE', 'MIT ADT UNIVERSITY',
       'Rockwell Automation', 'Synerzip Softech Pvt Ltd', 'eClerx', 'MNC',
       'Sant Gajanan Maharaj College of Engineering', 'Tech Mahindra',
       'MCOE', 'P. E. S. Modern college of engineering pune', 'Visa Inc.',
       'US Bank', 'Kalyani Group', 'MCA',
       'Srishti Manipal Institute of Art Design and Technology',
       'Government College of Engineering Aurangabad', 'IT', 'Rtpl',
       'IIIT Hyd', 'Bodhisaar Learning Pvt. Ltd', "MCT's RGIT", 'GKTCS',
       'FIGmd', 'Acism Software Pvt Ltd',
       'Sinhgad Institute of Management, Pune', 'VIBGYOR High School',
       'eSaral Private Venture limited', 'Indian Excursions', 'C', 'TBS',
       'Noustek Labs Pvt ltd', 'Sppu', 'Sawolabs technologies pvt ltd',
       'CSPL', 'Aissmscoe', 'BITS Pilani', 'Banasthali', 'MuSigma',
       'Pune Institute of business management', 'Y Media Labs', 'UH',
       'DR.D.Y.Patil Institute of Technology ,', 'SGBAU', 'Amazon',
       'MKSSS', 'FTFO', 'MGAHV Wardha', 'Yactraq', 'Rimit', 'UNCG',
       'Coep', 'MGAHV', 'Google', 'SHL', 'Schlumberger', 'Awec',
       'Personal', 'Department Of Statistics', 'Aspiring Minds', 'IIITB',
       'HCL', 'IIT Kharagpur'], dtype=object)

In [6]:
plot_df = registration_df[['Registration Time','Organization','From where did you hear about our event?']]
plot_df.head()

,Registration Time,Organization,From where did you hear about our event?
0,18-02-2021 20:07,Bean Architect,Not known
1,19-02-2021 20:01,Cummins College of Engineering for Women,SOCIAL MEDIA WIDS PUNE
2,20-02-2021 16:30,Prashanti Cancer Care Mission,WORD OF MOUTH
3,22-02-2021 10:21,C-DAC,WORD OF MOUTH
4,22-02-2021 12:01,Thoughtworks,WOMEN WHO CODE

In [7]:
plot_df.rename(columns={'From where did you hear about our event?': 'Medium'}, inplace=True)
plot_df.head()

C:\Users\S540\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Registration Time,Organization,Medium
0,18-02-2021 20:07,Bean Architect,Not known
1,19-02-2021 20:01,Cummins College of Engineering for Women,SOCIAL MEDIA WIDS PUNE
2,20-02-2021 16:30,Prashanti Cancer Care Mission,WORD OF MOUTH
3,22-02-2021 10:21,C-DAC,WORD OF MOUTH
4,22-02-2021 12:01,Thoughtworks,WOMEN WHO CODE

In [13]:
#plot_df['Registration Time'] = pd.to_datetime(plot_df['Registration Time'])
#plot_df['Registration_date'] = plot_df['Registration Time'].dt.date
#plot_df.drop(columns = 'Registration Time',inplace = True)

plot_df.head()

,Organization,Medium,Registration_date
0,Bean Architect,Not known,2021-02-18
1,Cummins College of Engineering for Women,SOCIAL MEDIA WIDS PUNE,2021-02-19
2,Prashanti Cancer Care Mission,WORD OF MOUTH,2021-02-20
3,C-DAC,WORD OF MOUTH,2021-02-22
4,Thoughtworks,WOMEN WHO CODE,2021-02-22

In [14]:
groupdata = pd.DataFrame(plot_df.groupby(['Registration_date','Medium'])['Medium'].count().fillna(0).reset_index(name ='Count'))
groupdata.dtypes

Registration_date    object
Medium               object
Count                 int64
dtype: object

In [15]:
dfp_pivot = pd.pivot_table(groupdata,values='Count',index ='Registration_date',columns='Medium',aggfunc=sum).fillna(0)

dfp_pivot = pd.DataFrame(dfp_pivot.to_records())
dfp_pivot

,Registration_date,ACM W India,ASSOCIATIONS OF DESIGNERS OF INDIA,COEP - BHAU,CSI,FTPO India,From my Employer,GDG-WTM,IACC Pune - SEAP,IEEE,...,SWE,TECHGIG,TIE Pune,Townscript,WHATS APP GROUP,WIMLDS PUNE - MEETUP,WOMEN WHO CODE,WORD OF MOUTH,WTC PUNE,wsquare
0,2021-01-03,0.0,0.0,11.0,0.0,1.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,3.0,0.0,0.0
1,2021-02-03,0.0,8.0,9.0,0.0,4.0,17.0,0.0,1.0,0.0,...,12.0,0.0,1.0,1.0,17.0,8.0,3.0,8.0,1.0,0.0
2,2021-02-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2021-02-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2021-02-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,2021-02-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,1.0,1.0,1.0,0.0
6,2021-02-23,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
7,2021-02-24,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0
8,2021-02-25,0.0,0.0,1.0,0.0,0.0,8.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,4.0,0.0,0.0
9,2021-02-26,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
10,2021-02-27,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,2.0,0.0,2.0,8.0,1.0,0.0
11,2021-02-28,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,3.0,2.0,4.0,0.0,0.0
12,2021-03-03,0.0,2.0,2.0,0.0,38.0,8.0,21.0,0.0,1.0,...,5.0,1.0,1.0,1.0,12.0,4.0,4.0,8.0,2.0,0.0
13,2021-04-03,4.0,0.0,2.0,15.0,10.0,17.0,3.0,0.0,0.0,...,5.0,0.0,3.0,0.0,12.0,1.0,3.0,7.0,2.0,1.0
14,2021-05-03,4.0,0.0,2.0,48.0,11.0,14.0,1.0,0.0,0.0,...,1.0,0.0,10.0,0.0,40.0,1.0,6.0,10.0,7.0,5.0
15,2021-06-03,0.0,1.0,0.0,5.0,3.0,2.0,0.0,1.0,2.0,...,0.0,0.0,1.0,0.0,36.0,3.0,3.0,10.0,0.0,3.0
16,2021-07-03,1.0,0.0,1.0,4.0,3.0,3.0,0.0,1.0,2.0,...,5.0,4.0,0.0,0.0,42.0,6.0,4.0,7.0,2.0,2.0
17,2021-08-03,0.0,0.0,1.0,0.0,2.0,14.0,0.0,1.0,1.0,...,0.0,0.0,2.0,0.0,3.0,2.0,0.0,6.0,0.0,1.0

In [16]:
!pip install pandas-bokeh

Collecting pandas-bokeh
  Downloading pandas_bokeh-0.5.5-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: pandas>=0.22.0 in c:\users\s540\anaconda3\lib\site-packages (from pandas-bokeh) (1.1.3)
Requirement already satisfied: bokeh>=2.0 in c:\users\s540\anaconda3\lib\site-packages (from pandas-bokeh) (2.2.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\s540\anaconda3\lib\site-packages (from pandas>=0.22.0->pandas-bokeh) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\s540\anaconda3\lib\site-packages (from pandas>=0.22.0->pandas-bokeh) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in c:\users\s540\anaconda3\lib\site-packages (from pandas>=0.22.0->pandas-bokeh) (1.19.2)
Requirement already satisfied: Jinja2>=2.7 in c:\users\s540\anaconda3\lib\site-packages (from bokeh>=2.0->pandas-bokeh) (2.11.2)
Requirement already satisfied: PyYAML>=3.10 in c:\users\s540\anaconda3\lib\site-packages (from bokeh>=2.0->pandas-bokeh) (5.3.1)
Requirement already satisfied: pillow>=7.1.0 in c:\users\s540\anaconda3\lib\site-packages (from bokeh>=2.0->pandas-bokeh) (8.0.1)
Requirement already satisfied: packaging>=16.8 in c:\users\s540\anaconda3\lib\site-packages (from bokeh>=2.0->pandas-bokeh) (20.4)
Requirement already satisfied: typing-extensions>=3.7.4 in c:\users\s540\anaconda3\lib\site-packages (from bokeh>=2.0->pandas-bokeh) (3.7.4.3)
Requirement already satisfied: tornado>=5.1 in c:\users\s540\anaconda3\lib\site-packages (from bokeh>=2.0->pandas-bokeh) (6.0.4)
Requirement already satisfied: six>=1.5 in c:\users\s540\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.22.0->pandas-bokeh) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\s540\anaconda3\lib\site-packages (from Jinja2>=2.7->bokeh>=2.0->pandas-bokeh) (1.1.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\s540\anaconda3\lib\site-packages (from packaging>=16.8->bokeh>=2.0->pandas-bokeh) (2.4.7)
Installing collected packages: pandas-bokeh
Successfully installed pandas-bokeh-0.5.5

In [ ]:
import pandas_bokeh
dfp_pivot.plot_bokeh(
    kind='bar',
    x='Registration_date',
    y=['COEP - BHAU','WHATS APP GROUP','WORD OF MOUTH'],
    xlabel='Category',
    ylabel='Annual Sales',
    title='Annual Sales by Category',
    figsize =(1000,800)
)

In [ ]:
from bokeh.models import ColumnDataSource, Select
from bokeh.io import show, output_notebook 
#Figure objects have many glyph methods that can be used to draw vectorized graphical glyphs. example of glyphs-circle, line, scattter etc. 
from bokeh.plotting import figure 
#To create intractive plot we need this to add callback method.
from bokeh.models import CustomJS 
#This is for creating layout
from bokeh.layouts import column, row
from bokeh.models import FactorRange
from bokeh.io import curdoc
output_notebook()

iactive_groupdata = groupdata.copy()

In [ ]:
iactive_groupdata['Registration_date'] = iactive_groupdata['Registration_date'].astype('str')
iactive_groupdata

filterdf1 = iactive_groupdata.loc[:,['Registration_date','Medium','Count']]
filterdf2 = filterdf1[filterdf1['Registration_date']=='2021-01-03']


Overall = ColumnDataSource(data=filterdf1)
Curr=ColumnDataSource({'x': filterdf1['Medium'], 'y': filterdf1['Count']})


#plot and the menu is linked with each other by this callback function
callback = CustomJS(args=dict(source=Overall, sc=Curr), code="""
var f = cb_obj.value;
sc.data['Medium']=[];
sc.data['Count']=[];
for(var i = 0; i <= source.get_length(); i++){
	if (source.data['Registration_date'][i] == f){
		sc.data['Medium'].push(source.data['Medium'][i])
		sc.data['Count'].push(source.data['Count'][i])
	 }
}   
   
sc.change.emit();
""")


vbar13=  iactive_groupdata.plot_bokeh.bar(
    x='Medium',
    y='Count',
    xlabel='Medium',
    ylabel='Count',
    title='Registration day wise',
    figsize =(600,400)
)

menu = Select(options=list(filterdf1['Registration_date'].unique()),value='2021-01-03', title = 'Registration-Date')  # drop down menu
menu.js_on_change('value', callback) # calling the function on change of selection
layout=column(menu, vbar13) # creating the layout
show(layout) # displaying the layout
curdoc().add_root(layout)